* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(blue, green, red);
    color: white;
}

table {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    font: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}